html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src="https://maps.googleapis.com/maps/api/js?").
    script(type='text/javascript').
      function initialize() {
      var centerLatlng = new google.maps.LatLng(39.668147, -104.940666);
      var kenLatLng = new google.maps.LatLng(39.572316, -105.113579);
      var fehrLatLng = new google.maps.LatLng(39.641679, -105.120767);
      var conLatLng = new google.maps.LatLng(39.506685, -105.296713);
      var johnLatLng = new google.maps.LatLng(39.804444,-105.086141);
      
      var mapOptions = {
      center: centerLatlng,
      zoom: 11,
      };
      
      //Add first marker
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      var kenMark = new google.maps.Marker({
        position: kenLatLng,
      });
      var infoWindowKen = new google.maps.InfoWindow({
        content: 'Ken Caryl Ranch<br>Hours: Dawn - Dusk<br>Length: 9 Holes<br>Price: Free<br>Difficulty: Easy'
      });
      google.maps.event.addListener(kenMark, 'click', function() {
      infoWindowKen.open(map, kenMark)
      });
      
      //Add second marker
      var fehrMark = new google.maps.Marker({
        position: fehrLatLng,
      });
      var infoWindowFehr= new google.maps.InfoWindow({
        content: 'Fehringer Ranch<br>Hours: Dawn - Dusk<br>Length: 18 holes<br>Price: Free<br>Difficulty: Moderate'
      });
      google.maps.event.addListener(fehrMark, 'click', function(){
      infoWindowFehr.open(map, fehrMark)
      });
      
      //Add third marker
      var conMark = new google.maps.Marker({
      position: conLatLng,
      });
      var infoWindowCon= new google.maps.InfoWindow({
        content: 'Beaver Ranch<br>Hours: Dawn - Dusk<br>Length: 23 Holes<br>Price: $8<br>Difficulty: Hard<br><a target="blank" href="http://www.beaverranch.org/disc-golf/">Website</a>'
      });
      google.maps.event.addListener(conMark, 'click', function(){
      infoWindowCon.open(map, conMark)
      });
      
      //Add fourth marker
      var johnMark = new google.maps.Marker({
      position: johnLatLng,
      });
      var infoWindowJohn = new google.maps.InfoWindow({
        content: 'Johnny Roberts<br>Hours: Dawn - Dusk<br>Length: 18 Holes<br>Price: Free<br>Difficulty: Moderate'
      });
      google.maps.event.addListener(johnMark, 'click', function(){
      infoWindowJohn.open(map, johnMark)
      });
      
      
      //call all makers
      kenMark.setMap(map);
      fehrMark.setMap(map);
      conMark.setMap(map);
      johnMark.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    h1= title
      form(action='/', method='get')
        input(type='submit' value='Reset Map')
    div#map-canvas
      
      
