html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src="https://maps.googleapis.com/maps/api/js?").
    script(type='text/javascript').
      function initialize() {
      var centerLatlng = new google.maps.LatLng(39.732107, -104.959900);
      var secondLatlng = new google.maps.LatLng(39.572316, -105.113579)
      var mapOptions = {
      center: centerLatlng,
      zoom: 11,
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      var testMark = new google.maps.Marker({
        position: centerLatlng,
        title: "Test"
      });
      var testMark2 = new google.maps.Marker({
        position: secondLatlng,
        title: "Test2"
      });
      testMark.setMap(map);
      testMark2.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    div#map-canvas
      
      
